---
import PagesLayout from '~/layouts/pages.astro'
import { SEO } from 'astro-seo'
import { Picture } from '@astrojs/image/components'
import site from '~/site.yml'

import { getCollection } from 'astro:content'

export const getStaticPaths = async () => {
  const posts = await getCollection('posts')
  return posts.map((post) => ({
    params: {
      slug: `${post.data.date.getFullYear()}/${post.slug}`,
    },
    props: { post },
  }))
}

const { post } = Astro.props
const { Content } = await post.render()
---

<PagesLayout title={post.data.title}>
  <SEO
    title={post.data.title}
    description={post.data.subtitle || site.description}
    slot="head"
  />
  {
    post.data.image && (
      <p class="image">
        <Picture
          src={post.data.image}
          alt={post.data.title}
          width={1140}
          height={760}
          widths={[1140, 960, 720, 540, 360]}
          aspectRatio={3 / 2}
          sizes="(min-width: 1200px) 1140px, (min-width: 992px) 960px, (min-width: 768px) 720px, (min-width: 576px) 540px, 100vw"
          formats={['avif', 'webp', 'jpeg']}
          background="rgba(0,0,0,0.0)"
          loading={'eager'}
        />
      </p>
    )
  }
  <p class="date">
    <time datetime={post.data.date}
      >{
        new Date(post.data.date).toLocaleDateString('id-ID', {
          weekday: 'long',
          year: 'numeric',
          month: 'long',
          day: 'numeric',
        })
      }</time
    >
  </p>

  <Content />
</PagesLayout>

<style lang="scss">
  .date {
    text-align: center;
  }

  :global(iframe) {
    width: 100%;
    height: 100%;
  }

  :global([data-oembed]) {
    aspect-ratio: 16 / 9;
  }

  @media (max-width: 576px) {
    .image {
      margin-left: -1rem;
      margin-right: -1rem;
    }
  }
</style>
