---
layout: layout/layout
title: Blogroll
---
<div id="blogroll">
    <h1>Blogroll</h1>
    {% assign links = blogroll | sort: 'title' %}
    {% for item in links %}
    <a href="{{ item.url }}" class="blogrollItem" target="_blank" rel="noreferrer">
        <h1>{{ item.title }}</h1>
        <p class="blogrollUrl">{{ item.url }} &bull; {{ item.category | upcase }}</p>
        <p class="blogrollDesc">{{ item.description }}</p>
    </a>
    {% endfor %}
</div>