---
layout: layout.liquid
---

<article class="px2">
    <div class="center">
        <h1 class="mt0 mb1 headings">{{ title }}</h1>
        {% if subtitle %}
            <span class="block italic center mb2" style="font-size: 125%">{{ subtitle }}</span>
        {% endif %}
        <time datetime="{{ date | dateIso }}" class="block center mute">{{ date | dateReadable | prepend: "Dipublikasikan pada tanggal " | upcase }}</time>
    </div>
    <div class="divider"></div>
    <div class="content">
        {{ content }}
    </div>
</article>
{% if nextPost.url or prevPost.url %}
<section class="postlink px2">
    <div class="divider"></div>
    <div class="flex">
        {% if prevPost.url %}
        <div class="mr-auto">
            <span class="h3 bold">&laquo;</span>
            <a href="{{ prevPost.url }}" title="{{ prevPost.data.title }}"><i>{{ prevPost.data.title | truncate: 25 }}</i></a>
        </div>
        {% endif %}
        {% if nextPost.url %}
        <div class="ml-auto">
            <a href="{{ nextPost.url }}" title="{{ nextPost.data.title }}"><i>{{ nextPost.data.title | truncate: 25 }}</i></a>
            <span class="h3 bold">&raquo;</span>
        </div>
        {% endif %}
    </div>
</section>
{% endif %}
{% if comment %}
<section class="px2">
    <div class="divider"></div>
    {% include partials/comment %}
</section>
{% endif %}