---
layout: layout.liquid
---

<article class="px2">
    <div class="center">
        <h1 class="mt0 mb1 headings">{{ title }}</h1>
        {% if subtitle %}
            <span class="block italic center mb2" style="font-size: 125%">{{ subtitle }}</span>
        {% endif %}
        <time datetime="{{ date | dateIso }}" class="block center mute">{{ date | dateReadable | prepend: "Dipublikasikan pada tanggal " | upcase }}</time>
    </div>
    <div class="divider"></div>
    <div class="content">
        {{ content }}
    </div>
</article>
{% if comment %}
<section class="px2">
    <div class="divider"></div>
    {% include partials/comment %}
</section>
{% endif %}