---
import type { MDXLayoutProps } from 'astro'
import PagesLayout from './pages.astro'
import { SEO } from 'astro-seo'
import { Picture } from '@astrojs/image/components'

const { frontmatter: fm } = Astro.props as MDXLayoutProps<{
  title: string
  date: string
  image?: string
  tags?: string[]
}>
---

<PagesLayout title={fm.title}>
  <SEO title={fm.title} slot="head" />
  {
    fm.image && (
      <p class="image">
        <Picture
          src={fm.image}
          alt={fm.title}
          width={1140}
          height={760}
          widths={[1140, 960, 720, 540, 360]}
          aspectRatio={3 / 2}
          sizes="(min-width: 1200px) 1140px, (min-width: 992px) 960px, (min-width: 768px) 720px, (min-width: 576px) 540px, 100vw"
          formats={['avif', 'webp', 'jpeg']}
          loading={'eager'}
        />
      </p>
    )
  }
  <p class="date">
    <time datetime={fm.date}
      >{
        new Date(fm.date).toLocaleDateString('id-ID', {
          weekday: 'long',
          year: 'numeric',
          month: 'long',
          day: 'numeric',
        })
      }</time
    >
  </p>

  <slot />
</PagesLayout>

<style lang="scss">
  .date {
    text-align: center;
  }

  @media (max-width: 576px) {
    .image {
      margin-left: -1rem;
      margin-right: -1rem;
    }
  }
</style>
