<footer id="sitefooter">
    <div id="sitefooter-container">
        <div class="sitefooter-item">
            <p>&copy; 2012 - {% currentYear %}</p>
            <p><a href="{{ env.site.url }}">{{ env.site.title }}</a></p>
        </div>
        <div class="sitefooter-item">
            <p>{{ "Links" }}</p>
            {% for link in links %}
            <p><a href="{{ link.url }}">{{ link.title }}</a></p>
            {% endfor %}
        </div>
        <div class="sitefooter-item">
            <p>{{ "Social" }}</p>
            {% for link in social %}
            <p><a href="{{ link.url }}">{{ link.title }}</a></p>
            {% endfor %}
        </div>
        <div class="sitefooter-item lg:col-span-2">
            <p class="mb-2"><a href="https://www.11ty.dev/speedlify/#details-db2233c9" target="_blank">{{ "Speedlify" }}</a></p>
            <amp-iframe height="60" layout="fixed-height" src="/speedlify" sandbox="allow-scripts allow-forms" title="speedlify-score"></amp-iframe>
        </div>
        <div class="sitefooter-icons">
            <a href="/feed" target="_blank" title="RSS">{% include component/svg/rss.svg %}</a>
            <a href="https://github.com/radenpioneer/blog" target="_blank" title="Repo">{% include component/svg/github.svg %}</a>
        </div>
    </div>
</footer>