<header id="siteheader" amp-fx="float-in-top">
    <div id="siteheader-container">
        <a id="siteheader-logo" href="/">
            <amp-img class="rounded-full" src="{{ env.site.logo }}" width="35" height="35" alt="{{ env.site.title | append: ' logo' }}"></amp-img>
            <h1>{{ env.site.title | upcase }}</h1>
        </a>
        <div id="siteheader-menu">
            {% for item in menu %}
            <a href="{{ item.url }}">{{ item.title | upcase }}</a>
            {% endfor %}
        </div>
    </div>
</header>