---
import Layout from '~/layouts/layout.astro'
import { SEO } from 'astro-seo'
import { Picture } from '@astrojs/image/components'
import site from '~/site.yml'
import { getCollection } from 'astro:content'

const posts = await getCollection('posts')
---

<Layout>
  <SEO title={site.title} description={site.description} slot="head" />
  <section>
    {
      posts
        .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
        .map((post, i) => (
          <article class={!post.data.image ? 'a-no-image' : ''}>
            {post.data.image && (
              <a href={`/posts/${post.data.date.getFullYear()}/${post.slug}`}>
                <Picture
                  src={post.data.image}
                  alt={post.data.title}
                  width={540}
                  height={304}
                  widths={[540, 360]}
                  aspectRatio={16 / 9}
                  sizes="(min-width: 576px) 540px, 100vw"
                  background="rgba(0,0,0,0.0)"
                  formats={['avif', 'webp', 'jpeg']}
                  loading={i < 3 ? 'eager' : 'lazy'}
                />
              </a>
            )}
            <p class="date">
              <time datetime={post.data.date.toISOString()}>
                {post.data.date.toLocaleDateString('id-ID', {
                  weekday: 'long',
                  year: 'numeric',
                  month: 'long',
                  day: 'numeric',
                })}
              </time>
            </p>
            <h3 class={!post.data.image ? 't-no-image' : ''}>
              <a href={`/posts/${post.data.date.getFullYear()}/${post.slug}`}>
                {post.data.title}
              </a>
            </h3>
          </article>
        ))
    }
  </section>
</Layout>

<style lang="scss">
  section {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1rem;
  }

  article {
    min-height: 180px;
  }

  .a-no-image {
    border-width: 1px;
    border-color: var(--primary);
    border-style: solid;
    border-radius: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;

    .date {
      margin-top: -1.625rem;
      time {
        background-color: var(--background-color);
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }

  h3 {
    --typography-spacing-vertical: 0;
    margin-top: 0.5rem;

    a {
      color: inherit;

      &:hover {
        color: var(--primary);
      }
    }
  }

  .date {
    margin-top: 0.75rem;
    margin-bottom: 0;
    color: var(--primary);
  }

  .t-no-image {
    --font-size: 2.25rem;
    line-height: 2.5rem;
  }

  @media (min-width: 576px) {
    section {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    h3 {
      --font-size: 1.25rem;
      line-height: 1.75rem;
    }

    .date {
      font-size: 0.875rem;
    }
  }

  @media (min-width: 768px) {
    section {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
</style>
