---
layout: layout/layout
---
<div id="posts">
    <h1>{{ title }}</h1>
    {% for post in posts %}
    <a href="{{ post.url }}" class="postsItem">
        <h2>{{ post.data.title }}</h2>
        <p>
            <time datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable | upcase }}</time>
            &bull;
            {% for tag in post.data.tags %}
            {% unless tag == 'post' %}
            <span>{{ tag | replace: '_', ' ' | upcase }}</span>
            {% unless forloop.last %}
            &bull;
            {% endunless %}
            {% endunless %}
            {% endfor %}
        </p>
        <div>
            {% unless post.data.tags contains 'notes' %}
            {{ post.templateContent | truncatewords: 30 }}
            {% endunless %}
        </div>
    </a>
    {% endfor %}
</div>