---
layout: layout/layout
---
<div id="posts">
    <h1>{{ title }}</h1>
    {% for post in posts %}
    <article class="postsItem">
        <header>
            <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
            <p>
                <a href="{{ post.url }}"><time datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable | upcase }}</time></a>
                &bull;
                {% for tag in post.data.tags %}
                {% unless tag == 'post' %}
                <span>{{ tag | replace: '_', ' ' | upcase }}</span>
                {% unless forloop.last %}
                &bull;
                {% endunless %}
                {% endunless %}
                {% endfor %}
            </p>
        </header>
        <main>
            {% unless post.data.tags contains 'notes' %}
            {{ post.templateContent | truncatewords: 50 }}
            {% endunless %}
        </main>
    </article>
    {% endfor %}
</div>