---
layout: layout/layout
---
<article id="content">
    <header>
        <p class="description">{{ description }}</p>
        <h1>{{ title }}</h1>
        <p>
            <time datetime="{{ page.date | dateIso }}">{{ page.date | dateReadable | upcase }}</time>
            &bull;
            {% for tag in tags %}
            {% unless tag == 'post' %}
            <span>{{ tag | replace: '_', ' ' | upcase }}</span>
            {% unless forloop.last %}
            &bull;
            {% endunless %}
            {% endunless %}
            {% endfor %}
        </p>
    </header>
    <main>
        {{ content }}
    </main>
    <footer>
        <div id="contentRelated">
            <h1>{{ "Tulisan Lainnya" | upcase }}</h1>
            <ul>
            {% assign posts = collections.post | sort: 'date' | reverse %}
            {% for post in posts limit: 5 %}
            <li class="related">
                <span class="text-gray-500 w-52 pr-4">{{ post.date | dateReadable }}</span>
                <a class="relatedItem" href="{{ post.url }}">{{ post.data.title }}</a>
            </li>
            {% endfor %}
            </ul>
        </div>
    </footer>
</article>