---
import BaseLayout from "./base.astro";
import { DateTime } from "luxon";
const { content } = Astro.props;
---

<BaseLayout title={content.title}>
  <article class="article">
    <header class="article__header">
      {
        content.image ? (
          <div class="article__image">
            <img
              src={content.image}
              width={400}
              height={300}
              alt={content.title}
            />
          </div>
        ) : null
      }
      {
        content.description ? (
          <div class="article__subtitle">{content.description}</div>
        ) : null
      }
      <h1 class="article__title">{content.title}</h1>
      <p class="article__date">
        <time datetime={content.date}
          >{
            DateTime.fromISO(content.date)
              .setLocale("id")
              .toLocaleString(DateTime.DATE_FULL)
          }</time
        >
      </p>
    </header>
    <main class="article__content">
      <slot />
    </main>
  </article>
</BaseLayout>

<style lang="scss">
  .article {
    @apply max-w-screen-md mx-auto;
  }

  .article__header {
    @apply flex flex-col items-center gap-4 py-8;
    .article__title {
      @apply font-extrabold text-4xl lg:text-6xl text-center;
    }
    .article__subtitle {
      @apply font-bold text-lg text-accent uppercase text-center;
    }
    .article__date {
      @apply text-lg text-center text-secondary;
    }
    .article__image {
      img {
        @apply w-full object-cover object-center rounded-xl;
      }
    }
  }

  .article__content {
    @apply prose-lg lg:prose-xl max-w-none;
  }
</style>
